__pycache__

# ignore virtual environment directory
.venv

# ignore tags
cscope.*
tags

# ignore vim swap file
*.swp

# ignore documentation output directory
docs/output

# ignore c/cpp compiled output
a.out
build/
